.page {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--homeBackground);
  padding: 1%;
}
.button_group {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.button_group button {
  width: 25%;
}
@media screen and (min-width: 0px) {
  .button_group button {
    width: 50%;
  }
}
@media screen and (min-width: 480px) {
  .button_group button {
    width: 40%;
  }
}
@media screen and (min-width: 768px) {
  .button_group button {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .button_group button {
    width: 25%;
  }
}