.message_box{
    position: absolute;
    right: 1em;
    top: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 25%;
    height: auto;
    padding: 0.5em;
    background-color: rgba(17, 116, 17, 0.822);
    border-radius: 4px;
    color:var(--fontColor);
}
.close_btn{
    cursor: pointer;
}