.table_background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  height: 37%;
  width: 98%;
  margin-bottom: 0.5em;
  padding: 1%;
  border-bottom: 1% solid var(--componentBackground);
  background-color: var(--componentBackground);
  overflow: auto;
}
.table {
  min-height: auto;
  width: 100%;
  border-spacing: 1px;
  color: var(--fontColor);
}
.table_title {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(194, 194, 194);
}
.table_title tr th {
  font-size: 1.2em;
  padding: 0.5em;
}
.table_data tr {
  font-size: 1em;
  padding: 0.02em;
}
tr {
  background-color: rgba(0, 0, 0, 0.288);
}
.bi-card-text {
  color: white;
}
.bi-card-text:hover {
  color: greenyellow;
}
.span-legend {
  display: none;
  background-color: rgba(0, 0, 0, 0.753);
  padding: 0.5em;
  border-radius: 5px;
}
.bi-card-text:hover > .span-legend {
  display: block;
  position: absolute;
  z-index: 2;
  transform: translateY(-150%);
}
@media screen and (min-width: 0px) {
  .table_title tr th {
    font-size: 1em;
    padding: 0.5em;
  }
  .table_data tr {
    font-size: 0.8em;
    padding: 0.02em;
  }
}
@media screen and (min-width: 480px) {
  .table_title tr th {
    font-size: 1em;
    padding: 0.5em;
  }
  .table_data tr {
    font-size: 1em;
    padding: 0.02em;
  }
}
@media screen and (min-width: 768px) {
  .table_title tr th {
    font-size: 1.1em;
    padding: 0.5em;
  }
  .table_data tr {
    font-size: 1em;
    padding: 0.02em;
  }
}
@media screen and (min-width: 1024px) {
  .table_title tr th {
    font-size: 1.2em;
    padding: 0.5em;
  }
  .table_data tr {
    font-size: 1.2em;
    padding: 0.02em;
  }
}
@media screen and (min-width: 1300px) {
  .table_title tr th {
    font-size: 1.3em;
    padding: 0.5em;
  }
  .table_data tr {
    font-size: 1.2em;
    padding: 0.02em;
  }
}
