.table_background {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 37%;
  width: 98%;
  margin-bottom: 0.5em;
  padding: 1%;
  border-bottom: 1% solid var(--componentBackground);
  background-color: var(--componentBackground);
  overflow: auto;
}
.table {
  min-height: auto;
  width: 100%;
  border-spacing: 1px;
  color: var(--fontColor);
}
.table_title {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: rgb(194, 194, 194);
}
.table_title tr th {
  font-size: 1.2em;
  padding: 0.5em;
}
.table_data tr {
  font-size: 1em;
  padding: 0.02em;
}
tr {
  background-color: rgba(0, 0, 0, 0.288);
}
