.graphic_area {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.graphic {
  border: none;
  display: flex;
  width: 90%;
  height: 100%;
  background-color: #012e40;
}
.legend {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 50%;
  height: 100%;
  border: none;
  color: var(--fontColor);
}
.color_box {
  width: 20px;
  height: 20px;
  margin-left: 0.5em;
}
.legend label {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  width: 100px;
}
.container_controller {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 10%;
  height: 100%;
}

@media screen and (min-width: 0px) {
  .graphic{
    width: 80%;
  }
  .container_controller{
    width: 20%;
  }
  .legend{
    font-size: 0.8em;
  }
}
@media screen and (min-width: 768px) {
  .graphic{
    width: 85%;
  }
  .container_controller{
    width: 15%;
  }
  .legend{
    font-size: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .graphic{
    width: 90%;
  }
  .container_controller{
    width: 10%;
  }
  .legend{
    font-size: 1em;
  }
}